<!DOCTYPE html>
<html class="no-js" fontify-lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8" />

  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}

  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' /><![endif]-->
  <link rel="canonical" href="{{ canonical_url }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  {%- render 'css-variables' -%}

	{{- 'theme.css' | asset_url | stylesheet_tag -}}
	<noscript>
		{{- 'no-js.css' | asset_url | stylesheet_tag -}}
	</noscript>

  {% include 'globo.filter.script' %}{{ content_for_header }}  {{ shop.metafields.fontify.stylesheets }}

  <title>{{ shop.name }}</title>

</head>

{% capture body_class %}{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}{% endcapture %}

<body id="{{ page_title | handle }}" class="{{ body_class }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '/', '-' | split: '.' }}">

  {{ content_for_layout }}

  {%- render 'scripts' -%}

	{% include 'globo.filter.action' %}
	</body>
</html>
