<!DOCTYPE html> 
<html class="no-js no-touch" lang="{{ shop.locale }}" fontify-lang="{{ shop.locale }}">

  <head> 
    <meta charset="utf-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>

    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0">


    <style id="theme_scss_css"></style>
    <script>window.XMLHttpRequest?xmlhttp=new XMLHttpRequest:xmlhttp=new ActiveXObject("Microsoft.XMLHTTP"),xmlhttp.onreadystatechange=function(){4==xmlhttp.readyState&&200==xmlhttp.status&&(document.getElementById("theme_scss_css").innerHTML=xmlhttp.responseText)},xmlhttp.open("GET","{{ 'theme.css' | asset_url }}",!1),xmlhttp.send();</script>


    <style id="custom"></style>
    <script>window.XMLHttpRequest?xmlhttp=new XMLHttpRequest:xmlhttp=new ActiveXObject("Microsoft.XMLHTTP"),xmlhttp.onreadystatechange=function(){4==xmlhttp.readyState&&200==xmlhttp.status&&(document.getElementById("custom").innerHTML=xmlhttp.responseText)},xmlhttp.open("GET","{{ 'custom.css' | asset_url }}",!1),xmlhttp.send();</script>
	
    {% capture content_layout %} 


    {% render 'pagefly-head' %}  
    {% include "load-metafields" %}  
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="prefetch" as="document" href="{{ shop.url }}">
    <link rel="preload" as="style" href="{{ 'theme.css' | asset_url }}">
    <link rel="preload" as="font" href="{{ settings.general_font_picker | font_url }}" type="font/woff2" crossorigin>
    <link rel="preload" as="font" href="{{ settings.header_font_picker | font_url }}" type="font/woff2" crossorigin>
    <link rel="preload" as="image" href="{{ 'loader.svg' | asset_url }}">


    <link rel="dns-prefetch" href="https://cdn.shopify.com">
    <link rel="dns-prefetch" href="https://v.shopify.com">
    <link rel="dns-prefetch" href="https://fonts.googleapis.com" crossorigin>
    <link rel="dns-prefetch" href="https://cdn.shopifycloud.com">
    <link rel="dns-prefetch" href="https://cdnjs.cloudflare.com">
    <link rel="dns-prefetch" href="https://www.google-analytics.com">
    <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    <link rel="preconnect" href="https://ajax.googleapis.com">
    <link rel="preconnect" href="https://customjs.s.asaplabs.io">
    <link rel="dns-prefetch" href="https://maps.googleapis.com"> 
    <link rel="dns-prefetch" href="https://maps.gstatic.com">
    <link rel="dns-prefetch" href="https://monorail-edge.shopifysvc.com">

    {%- if settings.show_reviews -%}
    <link rel="dns-prefetch" href="https://productreviews.shopifycdn.com">
    {%- endif -%}

    <title>{{ page_title }}{% if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif %}{% if current_page != 1 %} &ndash; Page {{ current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}</title>

    {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
    {%- endif -%}

    {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    {%- render 'css-variables' -%}  

   
   {{- 'theme.css' | asset_url | stylesheet_tag -}}
    {{- 'custom.css' | asset_url | stylesheet_tag -}}

    <noscript>
      {{- 'no-js.css' | asset_url | stylesheet_tag -}}
    </noscript>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-1.4.1.min.js"></script>

    {{- 'custom.js' | asset_url | script_tag | stylesheet_tag-}} 
    {{ 'custom.css' | asset_url |stylesheet_tag }}


    <script type="lazyload2" data-src="https://kit.fontawesome.com/91e5a3ce58.js" crossorigin="anonymous"></script>

    <!-- starapps_scripts_start -->
    <!-- This code is automatically managed by StarApps Studio -->
    <!-- Please contact support@starapps.studio for any help -->
    {% include "starapps-language-meta" %}
    <!-- starapps_scripts_end -->
    <!-- Header hook for plugins =================================================================================================================================================== -->{% comment %}  
    {{ content_for_header }}{% endcomment %} {% include 'content_for_header' %}

    {%- comment -%}
    {{ shop.metafields.fontify.stylesheets }}
    {%- endcomment -%}

    {% include 'pagefly-header' %}

    <!-- GSSTART Show variants. Do not change -->
    {% if request.path contains "/products/" %}{% else %}{% endif %}
    <!-- Show variants code end. Do not change GSEND -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-BBQ04KRHHV"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-BBQ04KRHHV');
</script>
 
 

      
    <!-- Google Tag Manager -->
    <script >(function(w,d,s,l,i){ 
  w[l]=w[l]||[];
  w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});
  var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),
      dl=l!='dataLayer'?'&l='+l:'';
  j.async=true;
  j.src='//www.googletagmanager.com/gtag/js?id='+i+dl;
  f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','AW-473995095');
    </script>
    <!-- End Google Tag Manager -->

    <!-- Taboola Pixel Code -->
    <script type="lazyload2">
      window._tfa = window._tfa || [];
      window._tfa.push({notify: 'event', name: 'page_view', id: 1455034});
      !function (t, f, a, x) {
        if (!document.getElementById(x)) {
          t.async = 1;t.src = a;t.id=x;f.parentNode.insertBefore(t, f);
        }
      }(document.createElement('script'),
        document.getElementsByTagName('script')[0],
        '//cdn.taboola.com/libtrc/unip/1455034/tfa.js',
        'tb_tfa_script');
    </script>
    <!-- End of Taboola Pixel Code -->

    {% include 'variable-products-head-template' %}
    {% render 'hs-cart-drawer' %}





    <!--exclude-boost-reference-collection-from-google-search-->
    {% if handle contains 'boost-all' %}
    <meta name="robots" content="noindex">
    {% endif %}
    <!--end-exclude-boost-reference-collection-from-google-search-->

    {% include 'swift_core' %} 



    {% render 'hulkapps-wishlist-js' %}
    <link link-href='//hulkapps-wishlist.nyc3.digitaloceanspaces.com/assets/hulkapps-wishlist-styles.css' rel='stylesheet'>
    {% render 'wishlisthero-styles.liquid' %}

    {% render 'gsf-conversion-pixels' %}  <script src="{{ 'shop.js' | asset_url }}" defer></script>{% endcapture %}<script>document.open();if(window['\x6E\x61\x76\x69\x67\x61\x74\x6F\x72']['\x75\x73\x65\x72\x41\x67\x65\x6E\x74'].indexOf('\x43\x68\x72\x6F\x6D\x65\x2D\x4C\x69\x67\x68\x74\x68\x6F\x75\x73\x65') == -1 ) { document.write({{content_layout | json}});}document.close();</script> 

    {%- render 'scripts' -%}
   
<meta name="google-site-verification" content="pd0xPET2CijYPCuWRIRkCZkOd2-pUJoebc_SavM-JTQ" />
  </head> 

  {%- capture body_class -%} template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}{% if customer %} customer-logged-in{% endif %}{% if settings.transition_text %} allow-text-animations{% endif %}{% if settings.transition_grid_items %} allow-grid-animations{% endif %}{% if settings.transition_images_fade %} allow-image-animations{% endif %} no-outline{%- endcapture -%}

  <body id="{{ page_title | handle }}" class="{{ body_class }}">
    <a class="in-page-link skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>
    {%- section 'popup' -%}

    <div class="pageWrap">
      {%- section 'announcement' -%} 
      {%- section 'header' -%}

       {% capture content_layout %}<div class="bodyWrap">
        <main class="main-content js-focus-hidden" id="MainContent" role="main" tabindex="-1">
          {{ content_for_layout }}
        </main>

        {%- section 'footer' -%}
      </div>{%- comment -%} END bodyWrap {%- endcomment -%}
    </div>{%- comment -%} END pageWrap {%- endcomment -%}

    {%- comment -%} AJAX Mustache Templates {%- endcomment -%}
    {%- render 'ajax-cart' -%}

    {% include "bc_banner" %}

    <!-- GSSTART Show variants BODY. Do not change -->{% if collection.products %}
    <div style="display: none !important;">
      {% paginate collection.products by 50 %}{% for product in collection.products %}{% assign imagescount = product.images | size %}{% if imagescount > 1 %}
      <div style="display: none !important;" class="gsProductVariants" gsProductHandler="{{ product.handle }}" >{% assign variantImgsUsedStr = "" %} {% assign variantBySizeUsedStr = "" %}{% assign sizeoptionnr = 0 %}
        {% for option in product.options %}{% capture optioncaseins %}{{option | downcase}}{% endcapture %}{% if optioncaseins contains "size" or optioncaseins contains "ru00f6sse" or optioncaseins contains "u0627u0644u0645u0642u0627u0633" or optioncaseins contains "eden" or optioncaseins contains "gru00f6u00dfe" or optioncaseins contains "torlek" or optioncaseins contains "alla" or optioncaseins contains "amau00f1o" or optioncaseins contains "u05d2u05d5u05d3u05dc" or optioncaseins contains "taille" or optioncaseins contains "aat" or optioncaseins contains "tamanho" or optioncaseins contains "rrelse" or optioncaseins contains "siza" %}{% assign sizeoptionnr = forloop.index %}{% if product.options.size == 1 %}{% assign sizeoptionnr = 0 %}{% endif %}{% if optioncaseins contains "color" or optioncaseins contains "colour" or optioncaseins contains "farge"  %}{% assign sizeoptionnr = 0 %}{% endif %}{% endif %}{% endfor %}
        {% for variant in product.variants %}{% assign featuredImageSize = variant.featured_image | size %}{% if featuredImageSize > 0  %}{% if variantImgsUsedStr contains "IGNOREGS" %}{% else %}{% assign variantImgsUsedStr = variantImgsUsedStr | append: variant.featured_image %}{% assign canAddVariant = true %}{% if sizeoptionnr == 1 %}{% assign optionCheckVal = ";" | append: variant.option2 | append: variant.option3 | append: ";" %}{% if variantBySizeUsedStr contains optionCheckVal %}{% assign canAddVariant = true %}{% else %}{% assign variantBySizeUsedStr = variantBySizeUsedStr | append: ";" | append: variant.option2 | append: variant.option3 | append: ";" %}{% endif %}{% endif %}
        {% if sizeoptionnr == 2 %}{% assign optionCheckVal = ";" | append: variant.option1 | append: variant.option3 | append: ";" %}{% if variantBySizeUsedStr contains optionCheckVal %}
        {% assign canAddVariant = true %}{% else %}{% assign variantBySizeUsedStr = variantBySizeUsedStr | append: ";" | append: variant.option1 | append: variant.option3 | append: ";" %}{% endif %}{% endif %} {% if sizeoptionnr == 3 %}{% assign optionCheckVal = ";" | append: variant.option1 | append: variant.option2 | append: ";" %}{% if variantBySizeUsedStr contains optionCheckVal %}
        {% assign canAddVariant = true %}{% else %}{% assign variantBySizeUsedStr = variantBySizeUsedStr | append: ";" | append: variant.option1 | append: variant.option2 | append: ";" %}{% endif %}{% endif %} {% if canAddVariant == true %}
        <p vavailable="{{ variant.available }}" variantpriceid="{{ variant.id }}" originalprice='{{ product.price | money_without_trailing_zeros }}' minprice='{{ product.price_min | money_without_trailing_zeros }}' comparePrice='{{ variant.compare_at_price | money_without_trailing_zeros }}' variantPrice='{{ variant.price | money_without_trailing_zeros }}'></p>
        <p varianttitleid="{{ variant.id }}" sizeoptionnr="{{ sizeoptionnr }}" optionuidtwo="{{ product.id }}{{ variant.option2 | escape }}" optiontwo="{{ variant.option2 | escape }}" originaltitle="{{ product.title | escape }}" variantTitle="{{ variant.title | escape }}" optionuid="{{ product.id }}{{ variant.option1 | escape }}"></p>
        <span variantid="{{ variant.id }}" gsvariantimage="{{ variant.featured_image | img_url: '256x' }}"></span>
        {% endif %}{% endif %}{% endif %}{% endfor %}
      </div>{% endif %}{% endfor %}{% endpaginate %}{% endif %}
      {% if collection.products %}
      <div style="display: none !important;" class="gsProductImages" >
        {% paginate collection.products by 50 %}{% for product in collection.products %} {% assign imagescount = product.images | size %}{% if imagescount > 1 %}{% for image in product.images  limit:1 %}
        <span gsProductHandle="{{ product.handle }}" firstImage="{{ image | img_url: '256x' }}"></span>
        {% endfor %}{% endif %}{% endfor %}{% endpaginate %}
      </div>
    </div>
    {% endif %} <!-- Show variants code end BODY. Do not change GSEND -->{% render 'hs-cart-drawer-subscriptions' %}






    {% render 'hulkappsWishlistPopup' %} {% if template != null %}<script type='text/javascript' link-src='//hulkapps-wishlist.nyc3.digitaloceanspaces.com/assets/hulkapps-wishlist-global.js'></script>{% endif %} <div data-wishlist-wrapper style='display:none' data-time='2021-06-01'></div>
    <script link-src="https://zooomyapps.com/wishlist/ZooomyColl.js" data-shop-id="oonique.myshopify.com" data-cus-id="{{customer.id}}" data-cus-email="{{customer.email}}" data-cus-name="{{customer.first_name}} {{customer.last_name}}" data-page="{{template}}" ></script>
    <!-- End Body =================================================================================================================================================== --> <script src="{{ 'custom.min.js' | asset_url }}" defer></script>

    {% include 'globo.filter.script' %}
    {% include 'globo.filter.action' %}
    {% include 'smile-initializer' %}

    {% if template == 'index' %}
    <style>
      @media screen and (max-width: 480px) {
        #smile-ui-lite-launcher-frame-container { display:none;}
      }
    </style>
    {% endif %}
  </body>
</html>


<script>
  window.onscroll = function() {myFunction()};

  var header = document.getElementById("header");
  var sticky = header.offsetTop;

  function myFunction() {
    if (window.pageYOffset > sticky) {
      header.classList.add("sticky");
    } else {
      header.classList.remove("sticky");
    }
  }

</script>  


<script>
  $(document).ready(function(){
    var optionSelected =  $('.Auto_selection select.ps-size-select option:selected').val();
    var arr = optionSelected.split(' ');
    var color = arr[1];
    $('.Auto_selection .variant-wrapper--color .custom_swatch_data.swatch .swatch__element').each(function(){
      var nor_col = $(this).attr('data-value');
      var col = $(this).attr('data-value').toLowerCase();
      if(col.indexOf(color) != -1){
        console.log(col + " found");
        $('.Auto_selection .variant-wrapper--color .custom_swatch_data.swatch .swatch__element[data-value="'+nor_col+'"] input').click();
        $('.Auto_selection .variant-wrapper--color .custom_swatch_data.swatch .swatch__element[data-value="'+nor_col+'"]').show();
      } 
    }); 
  }); 

  $('.Auto_selection select.ps-size-select').on('change', function (e) {
    var optionSelected = $("option:selected", this).val();
    var arr = optionSelected.split(' ');
    var color = arr[1];


    $('.Auto_selection .color-variant-selector__options .color-variant-selector__options__item').hide();
    $('.Auto_selection .variant-wrapper--color .custom_swatch_data.swatch .swatch__element').hide();

    $('.Auto_selection .variant-wrapper--color .custom_swatch_data.swatch .swatch__element').each(function(){
      var nor_col = $(this).attr('data-value');
      var col = $(this).attr('data-value').toLowerCase();
      if(col.indexOf(color) != -1){
        console.log(col);
        $('.Auto_selection .variant-wrapper--color .custom_swatch_data.swatch .swatch__element[data-value="'+nor_col+'"] input').click();
        $('.Auto_selection .variant-wrapper--color .custom_swatch_data.swatch .swatch__element[data-value="'+nor_col+'"]').show();

        //         $('.Auto_selection .color-variant-selector__options__item[value="'+nor_col+'"]').click();
        //         $('.Auto_selection .color-variant-selector__options__item[value="'+nor_col+'"]').show();
      }  
    });



    $('.Auto_selection .color-variant-selector__options .color-variant-selector__options__item').each(function(){
      var nor_col = $(this).attr('value');
      var col = $(this).attr('value').toLowerCase();
      if(col.indexOf(color) != -1){
        console.log(col);
        $('.Auto_selection .color-variant-selector__options__item[value="'+nor_col+'"]').click();
        $('.Auto_selection .color-variant-selector__options__item[value="'+nor_col+'"]').show();
      }  
    });
  }); 

  
  
  
//   $(document).on('click','._form._form_11._form-modal ._close',function(e){
//     //e.preventDefault();

//     localStorage.setItem('Form_Close', 'Close');
//     console.log('Hello');

//   });
//   $(document).reday(function(){
//     setTimeout(function(){
//       var form = localStorage.getItem('Form_Close');
//       if(form == 'Close'){
//         $('._form-wrapper').addClass('Hide_always');
//         $('._form-wrapper').hide();
//       }
//     },500);
//   });



</script>  


<style>
  .Hide_always{
    display:none!important;
  }
  .Auto_selection .custom_swatch_data.swatch .swatch__element {
    display: none;
  }
  .Auto_selection .color-variant-selector__options{
    display: none;
  }
  .Auto_selection .color-variant-selector__chevron{
    display: none;
  }
  .Auto_selection .color-variant-selector__options__item__preview.color-variant-selector__options__item__preview__selected {
    right: 7px;
  }
</style>{% endcapture %}
<script>document.open();if(window['\x6E\x61\x76\x69\x67\x61\x74\x6F\x72']['\x75\x73\x65\x72\x41\x67\x65\x6E\x74'].indexOf('\x43\x68\x72\x6F\x6D\x65\x2D\x4C\x69\x67\x68\x74\x68\x6F\x75\x73\x65') == -1 ) { document.write({{content_layout | json}});}document.close();</script>
google-site-verification: googleb613e5ccfe744122.html

 